<html>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>

<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It baby!</p>
    </body>
</html>

<h1>TEORÍA DE GRUPOS</h1> <!--para tu título más importante -->
<h2>Relaciones y cocientes</h2>  <!--para subtítulo -->

<p>"La formulación axiomática de la teoría de grupos como se conoce actualmente, se inicia con el trabajo de H. Weber: “Die allgemeinen Grundlagen
der Galois’schen Gleichungstheorie”. Math. Ann. 43 (1893), 521-549, página
522."</p>

<em>"La formulación axiomática de la teoría de grupos como se conoce actualmente, se inicia con el trabajo de H. Weber: “Die allgemeinen Grundlagen
der Galois’schen Gleichungstheorie”. Math. Ann. 43 (1893), 521-549, página
522."</em>  <!--pone en cursiva el texto -->

<br> <!-- salto de línea normal. Son las etiquetas <br> y <br/> ambas son interpretadas igual por el navegador. Esta etiqueta no hace falta abrirla y cerrarla, sólo con escribirla el navegador ya la interpreta. --> 

<strong>"La formulación axiomática de la teoría de grupos como se conoce actualmente, se inicia con el trabajo de H. Weber: “Die allgemeinen Grundlagen
der Galois’schen Gleichungstheorie”. Math. Ann. 43 (1893), 521-549, página
522."</strong>  <!--pone en negrita el texto -->

<a href="https://djangogirls.org">link</a> <!--crea un vínculo-->

<ul><li>primer elemento</li><li>segundo elemento</li></ul> <!-- crea una lista, ¡igual que esta! -->

<div></div> <!-- define una sección de la página -->


<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>